<div class="parent">
    <div class="div1">
        <img src="./images/PokeNode.png">

    </div>
    <div class="div2">
        <h1 class="fontStyle">Bem vindo ao PokeNode</h1>
        <form action="/searchPoke" method="POST">
            <input class="search" id="poke" name="poke" placeholder="Digite o nome do pokémon">
            <button class="btn-poke">Procurar</button>
        </form>
        {{#if poke}}
        <h2 class="fontStyle">{{poke}}</h2>
        <img src="{{imgPoke}}" alt="poke">
        <br>
        <img src="{{type1Url}}" alt="{{type1}}">
        <img src="{{type2Url}}" alt="{{type2}}">
        <h2 class="fontStyle">Número na pokédex:{{id}}</h2>
        {{/if}}

<br>
    </div>


</div>